<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linus.common">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Commonlinusmaster">
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.StorageAct"/>
        <activity android:name=".ui.DeviceAct"/>
        <activity android:name=".ui.UIOneAct"/>
        <activity android:name=".ui.UITwoAct"/>
        <activity android:name=".ui.UIThreeAct"/>
        <activity android:name=".ui.UIFourAct"/>
        <activity android:name=".ui.UIFiveAct"/>
        <activity android:name=".ui.UISixAct"/>
        <activity android:name=".ui.UISevenAct"/>
        <activity android:name=".ui.UIEightAct"/>
        <activity android:name=".ui.UINineAct"/>
        <activity android:name=".ui.UITenAct"/>
        <activity android:name=".ui.UIElevenAct"/>
        <activity android:name="com.linus.test.JsonExceptionAct"/>
        <activity android:name=".ui.UIBackgroundAct"/>
        <activity android:name=".ui.ConcatAct"/>
        <activity android:name=".ui.InvokeAct"/>
        <activity
            android:name=".ui.UIAct"
            android:label="@string/app_name"
            android:theme="@style/Theme.Commonlinusmaster.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>